#pbOverlay.show
{
	opacity: 1;
	pointer-events: auto;
}
#pbOverlay
{
	background: radial-gradient(rgba(0,0,0,.6) 0%, rgba(0,0,0,.9) 100%);
	background: rgba(0,0,0,0.90);
	height: 100%;
	left: 0;
	moz-user-select: none;
	ms-transition: opacity 300ms ease;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	position: fixed;
	text-align: center;
	top: 0;
	transition: opacity 300ms ease;
	webkit-transform: translate3d(0px, 0px, 0px);
	width: 100%;
}
#pbOverlay.msie
{
	background-color: rgba(0,0,0,.6);
}
.msie.pbLoading .pbWrapper
{
	background: url('../images/loading.gif') no-repeat center center;
}
@keyframes "pbLoaderFrames"{
	50%
	{
		height: 5px;
	}
}
@-webkit-keyframes "pbLoaderFrames"{
	50%
	{
		height: 5px;
	}
}
.pbLoader
{
	border-radius: 100%;
	bottom: 0;
	box-shadow: 15px 32px 60px -20px #FFF inset, 1px 1px 3px 1px #FFF inset, 0 0 20px;
	display: none;
	height: 100px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	transition: 0.3s;
	width: 100px;
	z-index: 999;
}
.thumbs .pbLoader
{
	transform: translateY(-50px);
	webkit-transform: translateY(-50px);
}
.pbLoading:not(.msie):not(.error) .pbLoader
{
	display: block;
}
.pbLoader b
{
	animation: .9s pbLoaderFrames infinite linear;
	background: rgba(255,255,255,0.8);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	display: inline-block;
	height: 60px;
	margin: 0 2px;
	vertical-align: middle;
	webkit-animation: .9s pbLoaderFrames infinite linear;
	width: 8px;
}
.pbLoader b:nth-child(2)
{
	animation-delay: .3s;
	webkit-animation-delay: .3s;
}
.pbLoader b:nth-child(3)
{
	animation-delay: .6s;
	webkit-animation-delay: .6s;
}
.mobile.pbLoading .pbLoader
{
	transform: none;
	transition: 0s;
}
.pbWrapper:after,
#pbCaption .pbThumbs ul:after,
#pbOverlay .prevNext:after,
#pbOverlay .pbLoader:before
{
	content: "";
	display: inline-block;
	height: 100%;
	margin-right: -0.25em;
	vertical-align: middle;
}
@keyframes "deadImage"
{
	50%
	{
		text-shadow: 0 0 25px rgba(255,255,255,.5);
		transform: scale(0.85);
	}
}
@-webkit-keyframes "deadImage"
{
	50%
	{
		text-shadow: 0 0 25px rgba(255,255,255,.5);
		webkit-transform: scale(0.85);
	}
}
.pbWrapper
{
	box-sizing: border-box;
	height: 100%;
	moz-box-sizing: border-box;
	perspective: 1200px;
	position: relative;
	transform: rotate(0deg);
	transition: 0.2s;
	vertical-align: middle;
	webkit-perspective: 1200px;
}
.video > .pbWrapper
{
	display: inline-block;
	z-index: 11;
}
.pbLoading .pbWrapper
{
	display: inline-block\9;
	width: 100%;
}
.pbWrapper:before
{
	color: transparent;
	content: '\2716';
	cursor: default;
	font-size: 0;
	text-shadow: 0 2px 35px rgba(255,255,255,0);
	transition: text-shadow .7s ease-out;
	vertical-align: middle;
}
.error .pbWrapper:before
{
	animation: 2s 1s deadImage infinite linear;
	font-size: 22em;
	text-shadow: 0 0 0 #FFF;
	webkit-animation: 2s 1s deadImage infinite linear;
}
.thumbs .pbWrapper
{
	margin: 0;
	padding: 0;
}
.error .pbWrapperr img
{
	width: 0;
}
.pbWrapper > div
{
	background: rgba(0,0,0,0.5);
	display: none;
	height: 100%;
	vertical-align: middle;
	width: 100%;
}
.video > .pbWrapper > div
{
	display: inline-block;
}
#pbOverlay iframe,#pbOverlay embed,#pbOverlay object
{
	display: block;
	height: 100%;
	opacity: 1;
	transition: 0.5s;
	width: 100%;
}
.pbWrapper .hide iframe
{
	opacity: 0;
}
.pbWrapper > div,.pbWrapper > img
{
	box-shadow: 0 0 20px #000;
	ms-transform: none;
	ms-transition: .3s .5s ease-out;
	transform: none;
	transition: .8s .5s cubic-bezier(0.1, 0.87, 0.48, 1);
	webkit-transform: none;
}
.pbWrapper > *,.hide .pbWrapper > .prepare
{
	min-height: 100%;
	min-width: 100%;
	opacity: 1;
	vertical-align: middle;
}
.on .pbWrapper > *
{
	ms-transition-delay: 0s;
	transition-delay: 0s;
}
.hide .pbWrapper > *
{
	ms-transition: .4s ease-in;
	opacity: 0;
	transform: none\9;
	transform: scale(1.2);
	transition: .4s ease-in;
	webkit-transform: scale(1.2);
}
#pbOverlay .prevNext
{
	background: rgba(0,0,0,0);
	cursor: pointer;
	display: block;
	opacity: 1;
	padding: 80px 0;
	position: absolute;
	width: 35%;
	z-index: 10;
}
#pbOverlay.hasArrows .prevNext
{
	display: block;
}
#pbOverlay.on .prevNext:hover
{
	opacity: .5;
}
#pbOverlay.on .prevNext:active
{
	
}
.prevNext b
{
	display: inline-block;
	vertical-align: middle;
}
#pbPrevBtn b:before,#pbNextBtn b:after
{
	color: #FFF;
	display: block;
	font-family: Arial;
	font-weight: normal;
	line-height: .3;
}
.show #pbPrevBtn
{
	left: 0;
	text-align: left;
}
.show #pbNextBtn
{
	right: 0;
	text-align: right;
}