<section>
	<nav >
		<ul class="nav footer-tabs">
			<li class="exterior col-sm-4"><a href="#/exterior"><img src="img/colour-options.png"></a></li>
			<li class="interior col-sm-4"><a href="#/interior"><img src="img/Interior-360.png"></a></li>
			<li class="gallery col-sm-4"><a href="#/gallery"><img src="img/View-Gallery.png"></a></li>
		</ul>
	</nav>
</section>