<div ng-controller="GalleryController">
	<header-section></header-section>
	<button-section></button-section>
	<div class="box-gallery">
		<div class='wrap-gallery'>
			<div id='gallery'>
				<a href="img/gallery/portrait/AdUnit -Tablet-Gallery1.jpg">
		        	<img src="img/gallery/thumbs/Thumbnails_Gallery1.jpg">
			    </a>
			    <a href="img/gallery/portrait/AdUnit -Tablet-Gallery2.jpg">
			        <img src="img/gallery/thumbs/Thumbnails_Gallery2.jpg">
			    </a>
			    <a href="img/gallery/portrait/AdUnit -Tablet-Gallery3.jpg">
			        <img src="img/gallery/thumbs/Thumbnails_Gallery3.jpg">
			    </a>
			    <a href="img/gallery/portrait/AdUnit -Tablet-Gallery4.jpg">
			        <img src="img/gallery/thumbs/Thumbnails_Gallery4.jpg">
			    </a>
			    <a href="img/gallery/portrait/AdUnit -Tablet-Gallery5.jpg">
		        	<img src="img/gallery/thumbs/Thumbnails_Gallery5.jpg">
			    </a>
			    <a href="img/gallery/portrait/AdUnit -Tablet-Gallery6.jpg">
			        <img src="img/gallery/thumbs/Thumbnails_Gallery6.jpg">
			    </a>
			    <a href="img/gallery/portrait/AdUnit -Tablet-Gallery7.jpg">
			        <img src="img/gallery/thumbs/Thumbnails_Gallery7.jpg">
			    </a>
			    <a href="img/gallery/portrait/AdUnit -Tablet-Gallery8.jpg">
			        <img src="img/gallery/thumbs/Thumbnails_Gallery8.jpg">
			    </a>
			    <a href="img/gallery/portrait/AdUnit -Tablet-Gallery9.jpg">
			        <img src="img/gallery/thumbs/Thumbnails_Gallery9.jpg">
			    </a>
			    <a href="img/gallery/portrait/AdUnit -Tablet-Gallery10.jpg">
		        	<img src="img/gallery/thumbs/Thumbnails_Gallery10.jpg">
			    </a>
			    <a href="img/gallery/portrait/AdUnit -Tablet-Gallery11.jpg">
			        <img src="img/gallery/thumbs/Thumbnails_Gallery11.jpg">
			    </a>
			    <a href="img/gallery/portrait/AdUnit -Tablet-Gallery12.jpg">
			        <img src="img/gallery/thumbs/Thumbnails_Gallery12.jpg">
			    </a>
			</div>

			<div id='gallery1'>
				<a href="img/gallery/landscape/AdUnit--Tablet-Gallery1.jpg">
		        	<img src="img/gallery/thumbs/Thumbnails_Gallery1.jpg" style="width: 250px">
			    </a>
			    <a href="img/gallery/landscape/AdUnit--Tablet-Gallery2.jpg">
			        <img src="img/gallery/thumbs/Thumbnails_Gallery2.jpg" style="width: 250px">
			    </a>
			    <a href="img/gallery/landscape/AdUnit--Tablet-Gallery3.jpg">
			        <img src="img/gallery/thumbs/Thumbnails_Gallery3.jpg" style="width: 250px">
			    </a>
			    <a href="img/gallery/landscape/AdUnit--Tablet-Gallery4.jpg">
			        <img src="img/gallery/thumbs/Thumbnails_Gallery4.jpg" style="width: 250px">
			    </a>
			    <a href="img/gallery/landscape/AdUnit--Tablet-Gallery5.jpg">
		        	<img src="img/gallery/thumbs/Thumbnails_Gallery5.jpg" style="width: 250px">
			    </a>
			    <a href="img/gallery/landscape/AdUnit--Tablet-Gallery6.jpg">
			        <img src="img/gallery/thumbs/Thumbnails_Gallery6.jpg" style="width: 250px">
			    </a>
			    <a href="img/gallery/landscape/AdUnit--Tablet-Gallery7.jpg">
			        <img src="img/gallery/thumbs/Thumbnails_Gallery7.jpg" style="width: 250px">
			    </a>
			    <a href="img/gallery/landscape/AdUnit--Tablet-Gallery8.jpg">
			        <img src="img/gallery/thumbs/Thumbnails_Gallery8.jpg" style="width: 250px">
			    </a>
			    <a href="img/gallery/landscape/AdUnit--Tablet-Gallery9.jpg">
			        <img src="img/gallery/thumbs/Thumbnails_Gallery9.jpg" style="width: 250px">
			    </a>
			    <a href="img/gallery/landscape/AdUnit--Tablet-Gallery10.jpg">
		        	<img src="img/gallery/thumbs/Thumbnails_Gallery10.jpg" style="width: 250px">
			    </a>
			    <a href="img/gallery/landscape/AdUnit--Tablet-Gallery11.jpg">
			        <img src="img/gallery/thumbs/Thumbnails_Gallery11.jpg" style="width: 250px">
			    </a>
			    <a href="img/gallery/landscape/AdUnit--Tablet-Gallery12.jpg">
			        <img src="img/gallery/thumbs/Thumbnails_Gallery12.jpg" style="width: 250px">
			    </a>
			</div>
		</div>
	</div>
	<footer-nav style="z-index: 100;"></footer-nav>
</div>