<section>
	<div class="row top-header">
        <div class="col-sm-1" style="padding-top: 15px;">
        	<div class="500-logo">
        		<img src="img/500_logo.png">
        	</div>
        </div>
        <div class="col-sm-offset-9 col-sm-1" style="padding-left: 65px;">	<img src="img/fiat_logo.png">
        </div>
    </div> 
</section>